@{
    ViewBag.Title = "About My Store";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>In My Store, you can purchase all kind of products you need to build up your new computer.<br />And even more...</p>
