@model MVCWarehousingSystem.ViewModels.StockItems.ImportArticlesVM

@{
    ViewBag.Title = "ImportArticles";
}

<h2>ImportArticles</h2>

@using (Html.BeginForm("ImportArticles", "StockItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <form action="~/StockItems/ImportArticles" method="post" enctype="multipart/form-data">

        <label for="file">Filename:</label>
        <input input type="file" name="file" title="Please select a file to import" id="file" accept=".xml" />

        @Html.ValidationMessage("uploadError")
        
        <div>
            <input type="submit" />
        </div>
    </form>
}