@model MVCWarehousingSystem.ViewModels.StockItems.ImportArticlesVM

@{
    ViewBag.Title = "Import";
}

<h2>Please select an XML file containing articles to be imported</h2>

@using (Html.BeginForm("Import", "StockItems", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Filename:</label>
    <input input type="file" name="file" title="Please select a file to import" id="file" accept=".xml" />

    @Html.ValidationMessage("uploadError")

    <div style="margin-top:20px">
        <input type="submit" value="Import" />
    </div>
}
