@model IEnumerable<MVCWarehousingSystem.Models.StockItem>

@{
    ViewBag.Title = "Index";
}

<h2>List of available articles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form id="frmsearch" action="~/StockItems/Search" method="get">
    <input name="searchedValue" type="search" placeholder="Search by Name, Price or Article number" value="" style="width:290px;" />
    <input name="submit-button" type="submit" style="font-weight:bold;" value="Search" class="btn btn-default" />
</form>

@Html.Partial("_IndexPartial")
