@model MVCWarehousingSystem.ViewModels.StockItems.SearchItemsVM

@{
    string searchType = string.Empty;
    string searchedValue = Model.Value;

    switch (Model.ViewType)
    {
        case MVCWarehousingSystem.ViewModels.StockItems.EViewType.SearchByName:
            searchType = "Name";
            searchedValue = string.Format("contains \"{0}\"", searchedValue);
            break;
        case MVCWarehousingSystem.ViewModels.StockItems.EViewType.SearchByPrice:
            searchType = "Price";
            break;
        case MVCWarehousingSystem.ViewModels.StockItems.EViewType.SearchByArticleNumber:
            searchType = "Article number";
            break;
    }
    ViewBag.Title = "Articles by " + searchType + ": '" + searchedValue + "'";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_SearchPartial")

@Html.Partial("_BackToListPartial")