@model MVCWarehousingSystem.ViewModels.StockItems.SearchItemsVM

@{
    string searchType = string.Empty;
    switch (Model.ViewType)
    {
        case MVCWarehousingSystem.ViewModels.StockItems.eViewType.SearchByName:
            searchType = "Name";
            break;
        case MVCWarehousingSystem.ViewModels.StockItems.eViewType.SearchByPrice:
            searchType = "Price";
            break;
        case MVCWarehousingSystem.ViewModels.StockItems.eViewType.SearchByArticleNumber:
            searchType = "Article number";
            break;
    }
    ViewBag.Title = "Articles by " + searchType + " (" + Model.Value + ")";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("_SearchPartial")

@Html.Partial("_BackToListPartial")